@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}
.header .logo i{
    color: green;
}
.header .logo span{
    color: var(--btn-color);
}
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
.navbar a:hover{
    color: var(--btn-color);
}
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
/* design for home section */

.home{
    padding: 1rem 7%;
    background: url(../images/background.png);
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.home-inner-content{
    flex: 1 1 45rem;
}
.home-image{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.home-image img{
    width: 100%;
    position: absolute;
    transform: translate(0%, -25%);
    animation: mymove 5s infinite ease-in-out;
}
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
.home-text-content{
    padding: 0 9rem;
    margin-top: 10rem;
}
.home-text-content h1{
    font-size: 45px;
    color: #e58f00;
}
.home-text-content p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
}
.home-text-content h1 span{
    color: #fff;
}
.home-text-content a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.about{
    padding: 2rem 7%;
    background: var(--about-sec);
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.about-content{
    flex: 1 1 45rem;
}
.about-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-content .about-inner-content img{
    width: 80%;
    margin-left: 100px;
}
.about-text-content{
    padding: 0 4rem;
}
.about-text-content h1{
    color: #e58f00;
    font-size: 40px;
    margin-bottom: 15px;
}
.about-text-content  h1 span{
    color: #fff;
}
.about-text-content p{
    color: white;
    font-size: 1.5rem;
    line-height: 35px;
}
.quality{
    padding: 4rem 7%;
    background-image: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}
.main-quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.main-inner-quality{
    flex: 1 1 45rem;
}
.quality-content{
    padding: 0 4rem;
}
.quality-content h1{
    color: var(--btn-color);
    font-size: 40px;
    margin-bottom: 15px;
}
.quality-content p{
    color: var(--about-sec);
    font-size: 1.5rem;
    line-height: 30px;
}
.qulity-image{
    width: 100%;
}
.qulity-image img{
    width: 100%;
    object-fit: cover;
}

.our-menu-food{
    padding: 2rem 7%;
    background-color: var(--about-sec);
}
.our-menu-food h1{
    color: var(--btn-color);
    font-size: 45px;
    text-align: center;
    padding: 0.5rem 0;
}
.our-menu-food h1 span{
    color: #fff;
}
.main-menu-food{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.inner-menu-food{
    flex: 1 1 300px;
}
.menu-food-content{
    width:100%;

}
.menu-food-content img{
    width: 100%;
}

.menu-food-text{
    padding: 2rem 2rem;
}
.menu-food-text h2{
    color: var(--btn-color);
    font-size: 30px;
}
.menu-food-text p{
    color:white;
    font-size:18px;
    margin: 2rem 0;
}
.menu-food-text p span{
    color: #e58f00;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.menu-food-text p:hover span{
    border: 1px solid white;
    background: var(--btn-color);
    color: white;
    transform: scale(1.1);
}
.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}
.before{
    width: 100%;
}
.before img{

    width: 100%;
    object-fit: cover;
}

.menu1{
     padding: 4rem 7%;
    background: var(--about-sec);
}
.menu1  h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: #fff;
    letter-spacing: 1px;
}
.menu1 h1 span{
    color: var(--btn-color);
}
.menubox-container{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.menubox-container .menubox{
   position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #0ef;
    overflow: hidden;
    display: flex;
    text-align: center;
}
.menubox-container .menubox img{
    width: 100%;
    transition: .5s ease;
}
.menubox:hover img{
    transform: scale(1.1);
}
.menubox .menubox-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),#0ef);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.menubox:hover .menubox-layer{
    transform: translateY(0);
}
.menubox .menubox-layer h4{
    font-size: 22px;
    color: #fff;
}
.menubox .menubox-layer p{
    font-size:16px;
    margin: .3rem 0 1rem;
}
.menubox .menubox-layer span{
    font-size:20px;
    margin: .3rem 0 1rem;
    color: red;
}
.menubox-layer a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
.menubox-layer a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.enjoy-our-food{
    padding: 2rem 7%;
    background: url(../images/enjoye.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-main-content{
    width: 40%;
    border: 4px solid #0ef;
    padding: 2rem;
}
.food-main-content h1{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
}
.food-main-content p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    line-height: 30px;
}
.gallery{
    padding: 4rem 7%;
    background: var(--about-sec);
}
.gallery h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: var(--btn-color);
    letter-spacing: 1px;
}
.gallery h1 span{
    color: #fff;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  
}
.inner-gallery{
    flex: 1 1 300px;
    
}
.inner-gallery .gallery-image img{
    width: 100%;
}
.inner-gallery .gallery-image:hover img{
    transform: perspective(1000px) rotateX(-4.80deg) rotateY(-10.23deg) scale3d(1.05,1.05,1.05);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.footer{
    background: #1d1d23;
    padding: 6rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-footer img{
    width: 200px;
}
.review  h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: #fff;
    background: var(--about-sec);
    letter-spacing: 1px;
}
.review h1 span{
    color: var(--btn-color);
}
.review .review-container{
     display: flex;
     flex-wrap: wrap;
    gap: 1.5rem;

}
.review .review-container .reviewbox{
   margin-top: 6rem;
   padding: 2rem;
    border-radius:4.8rem;
    border: 6rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    text-align: center;
    background: #333;
    flex: 1 1 30rem;
}
.review .review-container .reviewbox img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -8rem;
    border: 1rem solid #fff;
    text-align: center;
}
.review .review-container .reviewbox h3{
    font-size: 2.5rem;
    color: white;
    padding: .5rem 0;
   
}
.review .review-container .reviewbox i{
    font-size: 2rem;
    color: red;
    padding: .5rem 0;
    text-align: center;
}
.review .review-container .reviewbox p{
    font-size: 12px;
    color: #fff;
    padding: .5rem 0;
    text-align: center;
}
.about1{
    padding: 2rem 7%;
    background: var(--about-sec);
}
.about1 h1{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
    color: #fff;
    background: var(--about-sec);
    letter-spacing: 1px;
}
.about1 h1 span{
    color: var(--btn-color);
}
.main-about1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.about1-content{
    flex: 1 1 45rem;
}

.about1-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about1-content .about1-inner-content img{
    width: 80%;
    margin-left: 100px;
}
.about1-text-content .text-box{
    background:  transparent;
    color: #fff;
     border: 1px solid orange;
    width: calc(50% - 10%);
    height: 50px;
    padding: 12px ;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.about1-text-content .text-box: first-child{
    margin-right: 15px;
}
.about1-text-content textarea{
     background:transparent;
    color: #fff;
    width: 80%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    opacity: 0.9;
    border: 1px solid orange;
}
.about1-text-content .send-btn{
      padding: 15px 25px;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
   color: #fff;
   background: transparent;
}
.about1-text-content .send-btn:hover{
   background: var(--btn-color);
    border: 1px solid white;
    color: #fff;
}
.footer{
  width: 100%;
  background-color:black;
  padding: 30px 0;
}
.footer .inner-footer i{
    color: green;
}
.footer .inner-footer a {
  color:#fff;
  display: inline;
  font-size: 20px;
  margin-left: 60px;
}
.footer .inner-footer a span{
    color: var(--btn-color);
}

.footer .socialicon ul {
  float: right;
  display: inline;
 padding: 0.6rem 1.5rem;
  
}

.footer .socialicon ul li {
  display: inline-block;
  margin: 0 10px 10px 0px;
  font-size: 20px;
}

.footer .socialicon ul li a {
  color: #b1b7dd;
}

.footer .socialicon ul li a:hover {
  color: #f2622c;
}


@media (max-width:767px) {
    .header{
        padding: 3rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: var(--btn-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    /* home css desing */

    .home-text-content{
        padding: 0 2rem;
    }
    .main-home{
        padding: 2rem 0;
    }
    .home{
        padding-top: 100px;
        
    }
    .home-image img{
        transform: translate(0%, 0%);
    }
    .home-text-content{
        margin-top: 300px;
    }
    .about-content .about-inner-content img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .quality-content{
        padding: 1rem 2rem;
    }
    .quality-content h1{
        color: var(--about-sec)
    }
    .food-main-content{
        width: 100%;
        border: 4px solid white;
        padding: 1rem;
    }

    .footer-navbar a{
        display: block;
       
    }

}









